<!DOCTYPE html>
<html>
<head>
  <title>Credits</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Práctica realizada por: Daniel Payno Zarceño</h1>
  <p>
   <h2> Foto del autor: </h2>
   <img src="images/creditos.jpg" width="300">
 </p>

 <p> 
  <a href='/'>home</a>
</p>
<p> 
  <a href='/quizzes'>quizzes</a>
</p>

</body>
</html>
